* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.logo {
    width: 100px;
}

.navbar-container {
    /* position: fixed; */
    width: 100%;
    background-size: cover;
    box-shadow: 0px 0px 1px black;
    margin-bottom: 20px;
    
}

img {
    height: 100%;
    width: 100%;
}


.navbar-brand .logo {
    width: 120px;
}

nav li a {
    text-decoration: none;
}

.profile-container {
    padding: 5px;
    width: 60px;
    height: 100%;
    border-radius: 25px;
    border: 1px solid gray;
}

.profile-container .propic {
    width: 25px;
    border-radius: 50%;
}

/* !Searchbar */

.searchbar {
    border-radius: 30px;
    border: 1px solid gray;
}
.searchbar p {
    padding: 10px;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.input-container input {
    border: none;
}

.bordo {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

button.search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E41D56;
    border: none;
}



/* !Card */


.card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.card:hover img {
    filter: brightness(45%);
}

.card {
    padding: 0;
    width: 380px;
    border: none;
    margin-bottom: 30px;
}

.hearth-icon {
    z-index: 2;
    width: 25px;
    height: 25px;
    color: gray;
    opacity: 0.8;
    right: 10px;
    top: 10px;
    transition: color 0.2s ease-in-out;
}

.hearth-icon:hover {
    color: red;
}

.card h6 {
    margin-top: 10px;
}

/* !VIAGGI */

.contenitore-viaggi {
    margin-top: 100px;
    padding: 0 60px;
}

.contenitore-viaggi h2 {
    padding-bottom: 15px;
}

.link {
    border-bottom: 1px solid rgb(182, 181, 181);
}

.link li a {
    color: rgb(110, 109, 109);
    text-decoration: none;
}

.link li a:hover {
    color: black;
}

.link li {
    padding-right: 10px;
}

 ul {
    list-style-type: none;
}

.contenitore-link {
    margin-bottom: 30px;
}

.meta-viaggio {
    margin-bottom: 15px;

}

.meta-viaggio p {
    margin-bottom: 0;
    margin-left: 0;
}

.meta-viaggio span {
    color: gray;
}

/* !Footer */

.footer {
    padding-left: 60px;
    width: 100%;
    padding-top: 50px;
    border-top: 1px solid rgb(190, 189, 189);
    gap: 80px;
}

